@import "src/scss";



.serviceItem {
  display: flex;
  width: 440px;
  height: 120px;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
    h4 {
      text-decoration: none;
      margin-left: 80px;
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 18px;
    }
    h4:hover {
      color: #149ddd;
    }
    p {
      margin-left: 80px;
      line-height: 24px;
      font-size: 14px
    }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border: 1px solid #149ddd;
    border-radius: 50%;
    transition: background .5s ease-in;
    svg {
      width: 24px;
      height: 24px;
      fill: white;
      transition: fill .5s ease-in;
    }
    &:hover,svg:hover {
      background: white;
      fill: #149ddd;
    }
  }



  .itemWrapper {
    margin-left: -50px;
    h4 {
      a {
        color: black;
      }
    }
  }
}