$bg-img: url('../assets/images/hero/heroBg.jpg');

$white: #fff;
$gray500: #625a5c;
$gray700: #2c2f3f;
$blue500: #007aff;
$blue700: #149ddd;
$iconsColor: #149ddd;


//

$xxsSize: 575px;
$xsSize: 768px;
$sSize: 992px;
$lSize: 1200px;
$xlSize: 1400px;


